attrs==18.1.0
Automat==0.7.0
click==6.7
constantly==15.1.0
Flask==1.0.2
gunicorn==19.8.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Pygments==2.2.0
six==1.11.0
Werkzeug==0.14.1
zope.interface==4.5.0
