{% extends 'base.html' %}

{% block head %}
<title>Create new paste: upaste</title>
{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="POST" action="/">
  <div class="form-group">
    <input type="text" name="title" class="form-control" placeholder="Title" value="{{ title }}">
  </div>
  <div class="form-group">
    <textarea name="content" class="form-control" placeholder="Your paste content">{{ content }}</textarea>
  </div>
  <div class="row">
    <div class="col-sm-1 syntax">
      Syntax:
    </div>
    <div class="col-sm-3 form-group">
      <select name="lang" class="form-control">
        <option class="_auto">Automatic</option>
        {% for lang in langs %}
          <option class="{{ lang }}">{{ lang }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-offset-5 col-sm-3 form-group">
      <input type="submit" class="form-control btn btn-primary" value="Submit">
    </div>
  </div>
</form>
{% endblock %}
